<p class="col-sm-6 offset-sm-3 font-weight-bolder">Enter details</p>
<hr>
<div class="col-sm-6 offset-sm-3 border rounded" style="padding:40px" >
<form [formGroup]="registerForm">
  
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" 
      [ngClass]="{'is-invalid' : registerForm.get('name').errors && registerForm.get('name').touched}"
      class="form-control" 
      formControlName="name" 
      placeholder="Type in your name">
  
    <div class="invalid-feedback"
     *ngIf="registerForm.get('name').hasError('required') && registerForm.get('name').touched">
      Please enter a valid name
    </div>
    <div class="invalid-feedback"
     *ngIf="registerForm.get('name').hasError('minlength') && registerForm.get('name').touched">
      Please enter a valid name with minimum 3 characters.
    </div>

    <div class="invalid-feedback"
     *ngIf="registerForm.get('name').hasError('maxlength') && registerForm.get('name').touched">
      Please enter a valid name with maximum 25 characters.
    </div>

  </div>
  
  <div class="form-group">
    <label for="DateOfBirth">Date of Birth</label>
    <input type="date" 
    [ngClass]="{'is-invalid' : registerForm.get('dateOfBirth').errors && registerForm.get('dateOfBirth').touched}"
    class="form-control"  formControlName="dateOfBirth" placeholder="Select your Date of birth">
    <div 
      class="invalid-feedback"
      *ngIf="registerForm.get('dateOfBirth').hasError('required') && registerForm.get('dateOfBirth').touched">
      Please enter a valid Date of Birth</div>
  </div>
  
  <div class="form-group">
    <label for="SumInsured">Death - Sum Insured (In A$)</label>
    <input type="text" 
    [ngClass]="{'is-invalid' : registerForm.get('sumInsured').errors && registerForm.get('sumInsured').touched}"
    class="form-control" formControlName="sumInsured" placeholder="In AUD">
    
    <div 
      *ngIf="registerForm.get('sumInsured').hasError('required') && registerForm.get('sumInsured').touched"
      class="invalid-feedback">Please enter a valid sum insured.
    </div>

    <div 
      *ngIf="registerForm.get('sumInsured').hasError('minlength') && registerForm.get('sumInsured').touched"
      class="invalid-feedback">The minimum sum insured should be $100.
    </div>
    <div 
      *ngIf="registerForm.get('sumInsured').hasError('pattern') && registerForm.get('sumInsured').touched"
      class="invalid-feedback">Please enter a valid sum insured.
    </div>
    <div 
      *ngIf="registerForm.get('sumInsured').hasError('maxlength') && registerForm.get('sumInsured').touched"
      class="invalid-feedback">The maximum sum insured can be $100,000,000.
    </div>

  </div>
  
  
  <div class="form-group">
    <label for="Occupation">Select Your Occupation</label>
    <select class="form-control" 
    [ngClass]="{'is-invalid' : registerForm.get('occupation').errors && registerForm.get('occupation').touched}"
    formControlName="occupation" (change)="dropdownChange($event.target.value)">
      <option></option>
      <option *ngFor="let item of dropDownModel">{{item.name}}</option>
    </select>
    <div class="invalid-feedback">Please select a valid occupation</div>
  </div>

  <div class="form-group">
    <label for="Name">Expected Premium (In A$)</label>
    <input type="text" class="form-control" id="calculatedPremium" readonly="true" formControlName="premimumAmt" placeholder="Premium to pay...">
  </div>
  <button class="btn btn-success" [disabled]="!registerForm.valid" >Click here to apply</button> <!--Assumption#1-->
</form>
</div>

